.banner {
    width: 500px;
    height: 120px;
    margin: auto;
    background-color: blue;
    color: aliceblue;
    text-align: center;
}
#employee {
    display:flex;
    flex-wrap: wrap;
}
.boxes {
    padding: 20px;
    margin: 20px;
    width: min-content;
    height: min-content;
    background-color: cornflowerblue;
    color: aliceblue;

}
.boxes h2{
    font-size: 30px;
}
.boxes h3, p, a{
    font-size: 25px
}